HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Java Files #
*.class

# Package Files #
# *.jar, we need to checkin gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Eclipse files #
# IntelliJ files #
local.properties
out

# Gradle files #
build

target
logs
gradlew
gradlew.bat
gradle